@page

<div class="text-center">
    <h6 class="display-6">Thanks</h6>
    <p>congratulations you completed the quiz</p>
    
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return to Home</a>
</div>


@functions
{
    [BindProperty(SupportsGet = true)]
    
}