@model Department

<div class="text-center my-5 border-bottom">
    <div class="display-6">Departments</div>
</div>

@* <ul class="list-group my-5">
    @foreach (var department in Model)
    {
        <li class="list-group-item">@department.DeparmentName</li>
    } 
  
</ul> *@