 @{
    ViewData["Title"] = "Home Page";
}

<div class="my-5 border-bottom">
    <div class="row">
        <div class="col-md-3">
            <!-- Score Componenti burada çağrılıyor -->
            @await Component.InvokeAsync("Score")
        </div>

        <div class="col-md-9">
            <!-- QuizFilterMenuViewComponent burada çağrılıyor -->
            @await Component.InvokeAsync("QuizFilterMenu")
            
        </div>
    </div>
</div>
