@{
    ViewBag.Title = "Quiz Başladı";
}

<div class="container mt-5 text-center">
    <h2>Quiz Başladı!</h2>
    <p>Bu QuizId: @ViewBag.QuizId</p>

    <p>İyi Şanslar! Şu anda quiz sorularını burada göstereceğiz.</p>
</div>
