<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/97504960-9dc4-4a13-8002-20df7d37eb04/resourceGroups/MyProjectsRG/providers/Microsoft.Web/sites/quizhubapp</ResourceId>
    <ResourceGroup>MyProjectsRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://quizhubapp-bvd3d3c0h7hxdsby.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>de526a96-2e02-43ba-aee7-b240f68dbbe1</ProjectGuid>
    <MSDeployServiceURL>quizhubapp-bvd3d3c0h7hxdsby.scm.westeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>quizhubapp</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAGrQe3w5M6kqgODGweE/w7gAAAAACAAAAAAAQZgAAAAEAACAAAABSJ1W64p9eapWjYeYsokgmv6brDs+I+Pv1sJiBTQhu1gAAAAAOgAAAAAIAACAAAADDixGQARwZlJ4ZieT0V/StPN5CItatqMRbOtp2gl+48yAAAACAxn125syNF//zvcd4wsA7IMt6wLC4cof5gBtQrEqpZEAAAABoTld9rjcQLjNxmNfQODEoxYy9iQjxheGr0oz6MMtEaSFYottXKLRBEDyvurtR6o4glcpqhxks+U9n0b2/4yd6</EncryptedPassword>
    <History>False|2024-10-26T22:18:46.4033292Z;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>