<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/97504960-9dc4-4a13-8002-20df7d37eb04/resourceGroups/MyProjectsRG/providers/Microsoft.Web/sites/quizhubapp</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://quizhubapp-bvd3d3c0h7hxdsby.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>de526a96-2e02-43ba-aee7-b240f68dbbe1</ProjectGuid>
    <publishUrl>ftps://waws-prod-am2-073dr.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>quizhubapp\$quizhubapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>