@model AssignQuizViewModel

<form method="post">
    <input type="hidden" asp-for="QuizId" />
    <div class="form-group">
        <label>Quiz: @Model.QuizTitle</label>
    </div>

    <div class="form-group">
        <label for="SelectedDepartment">Select Department:</label>
        <select asp-for="SelectedDepartment" class="form-control">
            @foreach (var department in Model.Departments)
            {
                <option value="@department.Value">@department.Text</option>
            }
        </select>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Assign" class="btn btn-primary" />
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>
</form>
