@{
    ViewData["Title"] = "Continue Quizzes";
}

<div class="container my-5">
    <div class="text-center mb-4">
        <h1 class ="page-title">Continue Quizzes</h1>
        <p class="page-subtitle">
            Continue your quizzes where you left off!
        </p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">
            @await Component.InvokeAsync("UserQuizCards", new { status = "Continue" })
        </div>
    </div>
</div>
