@model IEnumerable<Quiz>

<div class="mt-5 text-center border-bottom">
    <h6 class="display-6">Quizzes</h6>
</div>

<div class="row">
    @foreach (var q in Model)
    {
        <div class="col-md-3 my-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@q.Title</h5>
                    
                    <a asp-action="Update" asp-controller="Quiz" asp-route-id="@q.QuizId" class="btn btn-primary">Edit</a>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">

                        <div class="form-check form-switch">
                            <input type="hidden" name="productId" value="@q.QuizId" />
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                   checked="@q.ShowCase" disabled>
                            <label class="form-check-label" for="flexSwitchCheckDefault">ShowCase</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>