<div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
    @if (TempData["info"] is not null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @TempData["info"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["success"] is not null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["success"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["danger"] is not null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["danger"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
</div>
